.container__user {
  background-image: radial-gradient(
    #0079afff,
    #0088b0ff,
    #0094a6ff,
    #009f93ff,
    #23a77aff
  );
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__form {
  background-color: rgb(248, 238, 226);
  width: 300px;
  height: 400px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container__form form {
  display: grid;
  width: 300px;
  padding: 5px;
  border-radius: 5px;
}

.container__form form label {
  padding-bottom: 2px;
}

.container__form form input {
  padding: 2px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

#register {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #23a77a;
}

#home {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #0079af;
}
